.comment {
    display: flex;
    flex-direction: column;

}

.comment__top {
    display: flex;
    align-items: center;
}

.comment__data :first-child {
    font-weight: bolder;
    font-size: small;
}

.comment__data {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin-left: 15px;
    border-radius: 999px;
    background-color: #eff2f5;


}


.comment__options {
    display: flex;
    font-size: x-small;
    color: gray;
    margin-left: 70px;
}

.comment__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    margin-bottom: 4px;
    cursor: pointer;
}


.comment__option:hover {
    color: #1877f2;
}
