.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;

}


.post__top__info {
    margin-left: 10px;
    font-size: small;
}

.post__top__info > h3 {
    cursor: pointer;
}

.post__top__info > p {
    font-size: small;
    color: gray;
}


.separator {
    height: 1px;
    border: 0;
    background-color: lightgray;
    justify-items: center;
    margin: 10px;
}


.post__bottom {
    margin-bottom: 10px;
    padding: 10px 20px;
}

.post__options {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    padding: 15px;
}

.post__option {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.post__option > p {
    margin-left: 10px;
}

.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.post__stats {
    display: flex;
    padding: 10px 20px;
    color: gray;
}

.post__stats__left {
    flex: 1;
}

.post__stats__right {
    display: flex;
}


.stats__comments {
    padding: 8px;
}

.stats__shares {
    padding: 8px;
}

.stats__comments:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    color: #1877f2;
    cursor: pointer;
}

.stats__shares:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    color: #1877f2;
    cursor: pointer;
}

.post__stats__right > span {
    margin-left: 10px;
}

.post__image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.post__image > img {
    width: 99%;
    align-items: center;
    justify-content: center;
    object-fit: contain;

}
